@import "./global.css";

/* LAYOUT */
main {
    display: grid;
    grid-template-areas: "logo logo . ."
        "nav nav nav nav"
        "slider slider slider slider"
        "news news news schedule";
    gap: 20px 10px;
    grid-template-columns: 1fr 1fr 1fr 30%;
    grid-template-rows: 75px 50px 300px 700px;

    width: 85%;
    margin: 0px auto;
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px black;
}

/* NEWS - POSTS */
#news {
    grid-area: news;
    border: 10px outset;
    padding: 5px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../assets/blog_bg.png");
    background-repeat: repeat;
}

#news h1 {
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-top: 10px;
}

#news article {
    margin-bottom: 50px;
    text-align: justify;
    width: 90%;
}

#news article:last-child {
    margin-bottom: 0px;
    padding-bottom: 50px;
}

#news article p {
    text-indent: 15px;
}

/* SCHEDULE */
#daily-schedule {
    grid-area: schedule;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#daily-schedule h1 {
    font-size: 1.9rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: center;
}

#daily-schedule .row {
    width: 230px;
    font-size: 1.4rem;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



/* MEDIA QUERIES */
@media (min-width: 426px) and (max-width: 1024px) {
    main {
        display: grid;
        grid-template-areas: ". logo logo ."
            "nav nav nav nav"
            "slider slider slider slider"
            "news news news news"
            "schedule schedule schedule schedule";
        gap: 20px 0px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 60px 40px 30vw 700px auto;
    }

    #news {
        width: 90%;
        margin: 0 auto;
    }

    #news h1 {
        font-size: 5vw;
    }
}

@media (max-width: 426px) {
    main {
        display: grid;
        grid-template-areas: ". logo logo ."
            "nav nav nav nav"
            "slider slider slider slider"
            "news news news news"
            "schedule schedule schedule schedule";
        gap: 30px 0px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 12vw 40px 100px 700px auto;
    }

    
    #news {
        width: 100%;
    }

    #news h1 {
        font-size: 5vw;
    }

    #news article h2 {
        font-size: 18px;
    }

    #news article h3 {
        font-size: 14px;
    }

    #news article p {
        font-size: 12px;
    }

    #daily-schedule .row {
        width: 200px;
        font-size: 1.2rem;
    }

    #daily-schedule h1 {
        margin-bottom: 20px;
        font-size: 1.5rem;
    }

}