@import "./global.css";

/* LAYOUT */
main {
    display: grid;
    grid-template-areas: "logo logo . ."
        "nav nav nav nav"
        "slider slider slider slider"
        "schedule schedule schedule schedule";
    gap: 20px 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 75px 50px 300px auto;

    width: 85%;
    margin: 0px auto;
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px black;
}

/* SCHEDULE */
#schedule {
    grid-area: schedule;
    border: 10px outset;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../assets/blog_bg.png");
    background-repeat: repeat;
    margin: 0 auto;
    width: 85%;
    position: relative;
    padding-bottom: 30px;
    overflow: hidden;
}

#swipe-left, #swipe-right {
    height: 44px;
    width: 44px;
    position: absolute;
}

#swipe-left img, #swipe-right img {
    width: 100%;
    height: 100%;
}

#swipe-left:hover, #swipe-right:hover{
    cursor: pointer;
}

#swipe-left {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

#swipe-right{
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

#schedule h1 {
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.day {
    width: 80%;
    text-align: center;
    display: inline-block;
    position: relative;
}

.day h2 {
    text-align: center;
    font-size: 2.6rem;
}

.day.hidden {
    display: none;
}

.subjects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.row {
    margin: 30px 10px 10px 10px;
    width: 230px;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



/* MEDIA QUERIES */
@media (min-width: 426px) and (max-width: 1024px) {
    main {
        display: grid;
        grid-template-areas: ". logo logo ."
            "nav nav nav nav"
            "slider slider slider slider"
            "schedule schedule schedule schedule";
        gap: 20px 0px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 60px 40px 30vw auto;
    }

    #schedule {
        width: 90%;
        margin: 0 auto;
    }

    #schedule h1 {
        font-size: 5vw;
    }

    .day h2 {
        font-size: 2.1rem;
    }
}

@media (max-width: 426px) {
    main {
        display: grid;
        grid-template-areas: ". logo logo ."
            "nav nav nav nav"
            "slider slider slider slider"
            "schedule schedule schedule schedule";
        gap: 20px 0px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 12vw 40px 100px auto;
    }


    #schedule {
        width: 100%;
    }

    #swipe-left, #swipe-right {
        height: 33px;
        width: 33px;
    }

    #schedule h1 {
        font-size: 5vw;
    }

    .day h2 {
        font-size: 1.5rem;
    }

    .row {
        width: 38vw;
        font-size: 1.1rem;
        margin: 15px 10px 10px 10px;
    }

    .subjects {
        margin-bottom: 0px;
    }
}