body {
    background: url("../../assets/autum.jpg") fixed;
}

main {
    background: url("../../assets/autumn_pattern.png");
    background-repeat: repeat;
}

/* LOGO */
#logo {
    background-color: #751A33;
    color: white;
}

/* MENU */
#menu ul {
    background-color: #B34233;
}

#menu ul li:hover {
    background-color: #751A33;
}

#menu ul li a {
    color: white;
}

/* HOMEPAGE TAB */
#news h1,
#schedule h1 {
    color: #751A33;
}

#news article h2 {
    color: #915c13;
}

#news article h3 {
    color: #917724;
}

/* SCHEDULE TAB + DAILY-SCHEDULE ASIDE */
#daily-schedule h1 {
    color: #751A33;
}

.day h2 {
    color: #915c13;
}

.row {
    color: #751A33;
    font-weight: bolder;
    border: 4px dashed #751A33;
    background-color: #c2a136;
}

#swipe-left,
#swipe-right {
    background-color: #c2a136;
    ;
}

@media (max-width: 426px) {
    .row {
        border: 3px dashed #751A33;
    }
}

/* TEACHERS TAB */
.teacher-block {
    color: #751A33;
    background: rgb(194, 161, 54);
    background: linear-gradient(90deg, rgba(194, 161, 54, 0.49933476808692223) 0%, rgba(194, 161, 54, 1) 50%, rgba(194, 161, 54, 0.5021358885351015) 100%);
}

.teacher-block .photo img {
    padding: 1px;
    background-color: #751A33;
}

/* ACADEMY TAB */
.ui-accordion-header {
    color: black !important;
}

.ui-accordion-header-active {
    background-color: #751A33 !important;
}

.ui-accordion-header-collapsed {
    background-color: #B34233 !important;
}

#academy-form {
    background-color: #B34233;
}

input,
textarea,
select,
option {
    background: white !important;
    border-top: #915c13 1px solid !important;
    border-left: #915c13 1px solid !important;
    border-bottom: #915c13 3px solid !important;
    border-right: #915c13 3px solid !important;
    border-radius: 2px !important;
    color: black !important;
}

/* FOOTER */
footer {
    background-color: #751a3281;
}