body {
    background: url("../../assets/spring.jpg") fixed;
}

main {
    background: url("../../assets/forest_pattern.jpg");
    background-repeat: repeat;
}

#logo{
    background-color: #5e8d5a;
}

#menu ul{
    background-color: #66b95f;
}

#menu ul li:hover { 
    background-color: #5e8d5a;
}

#news h1, #schedule h1{
    color: #3b5f38;
}

#news article h2 {
    color: #524a26;
}

#news article h3 {
    color: #5f5a44;
}

#daily-schedule h1 {
    color: #3b5f38;
}

.row {
    color:#314606;
    font-weight: bolder;
    border: 4px dashed #524a26;
    background-color: #CFCBBA;
}

footer {
    background-color: #5e8d5ac0;
}