body {
    background: url("../../assets/spring.jpg") fixed;
}

main {
    background: url("../../assets/forest_pattern.jpg");
    background-repeat: repeat;
}

/* LOGO */
#logo {
    background-color: #5e8d5a;
}

/* MENU */
#menu ul {
    background-color: #66b95f;
}

#menu ul li:hover {
    background-color: #5e8d5a;
}

/* HOMEPAGE TAB */
#news h1,
#schedule h1 {
    color: #3b5f38;
}

#news article h2 {
    color: #524a26;
}

#news article h3 {
    color: #5f5a44;
}

/* SCHEDULE TAB + DAILY-SCHEDULE ASIDE */
.day h2 {
    color: #314606;
}

#daily-schedule h1 {
    color: #3b5f38;
}

.row {
    color: #314606;
    font-weight: bolder;
    border: 4px dashed #524a26;
    background-color: #CFCBBA;
}

#swipe-left,
#swipe-right {
    background-color: #566e24;
}

@media (max-width: 426px) {
    .row {
        border: 3px dashed #524a26;
    }
}

/* TEACHERS TAB */
.teacher-block {
    color: #314606;
    background: rgb(207, 203, 186);
    background: linear-gradient(90deg, rgba(207, 203, 186, 0.6029762246695554) 0%, rgba(207, 203, 186, 1) 50%, rgba(207, 203, 186, 0.6001751042213761) 100%);
}

.teacher-block .photo img {
    padding: 1px;
    background-color: #314606;
}

/* ACADEMY TAB */
.ui-accordion-header {
    color: black !important;
}

.ui-accordion-header-active {
    background-color: #5e8d5a !important;
}

.ui-accordion-header-collapsed {
    background-color: #66b95f !important;
}

#academy-form {
    background-color: #66b95f;
}

input,
textarea,
select,
option {
    background: white !important;
    border-top: #314606 1px solid !important;
    border-left: #314606 1px solid !important;
    border-bottom: #314606 3px solid !important;
    border-right: #314606 3px solid !important;
    border-radius: 2px !important;
    color: black !important;
}

/* FOOTER */
footer {
    background-color: #5e8d5ac0;
}