body {
    background: url("../../assets/summer.jpg") fixed;
}

main {
    background: url("../../assets/summer_pattern.jpg");
    background-repeat: repeat;
}

/* LOGO */
#logo {
    background-color: #f3872f;
}

/* MENU */
#menu ul {
    background-color: #FFD700;
}

#menu ul li:hover {
    background-color: #f3872f;
}

/* HOMEPAGE TAB */
#news h1,
#schedule h1 {
    color: #f3872f;
}

#news article h2 {
    color: #236e96;
}

#news article h3 {
    color: #15b2d3;
}

/* SCHEDULE TAB + DAILY-SCHEDULE ASIDE */
#daily-schedule h1 {
    color: #ff7809;
}

.day h2 {
    color: #236e96;
}

.row {
    color: #0068a0;
    font-weight: bolder;
    border: 4px dashed #ff7809;
    background-color: #ffe23e;
}

#swipe-left,
#swipe-right {
    background-color: #ff7809;
}

@media (max-width: 426px) {
    .row {
        border: 3px dashed #ff7809;
    }
}

/* TEACHERS TAB */
.teacher-block {
    color: #0068a0;
    background: rgb(255, 120, 9);
    background: linear-gradient(90deg, rgba(255, 120, 9, 0.49933476808692223) 0%, rgba(255, 120, 9, 1) 50%, rgba(255, 120, 9, 0.5021358885351015) 100%);
}

.teacher-block .photo img {
    padding: 1px;
    background-color: #0068a0;
}


/* ACADEMY TAB */
.ui-accordion-header {
    color: black !important;
}

.ui-accordion-header-active {
    background-color: #f3872f !important;
}

.ui-accordion-header-collapsed {
    background-color: #FFD700 !important;
}

#academy-form {
    background-color: #FFD700;
}

input,
textarea,
select,
option {
    background: white !important;
    border-top: #0068a0 1px solid !important;
    border-left: #0068a0 1px solid !important;
    border-bottom: #0068a0 3px solid !important;
    border-right: #0068a0 3px solid !important;
    border-radius: 2px !important;
    color: black !important;
}

/* FOOTER */
footer {
    background-color: #f3872f91;
}