body {
    background: url("../../assets/winter.jpg") fixed;
}

main {
    background: url("../../assets/winter_pattern.jpg");
    background-repeat: repeat;
}

/* LOGO */
#logo {
    background-color: #405173;
    color: white;
}

/* MENU */
#menu ul {
    background-color: #8a9cbf;
}

#menu ul li a {
    color: black;
}

#menu ul li:hover {
    background-color: #405173;
}

#menu ul li a:hover {
    color: white;
}

/* HOMEPAGE TAB */
#news h1,
#schedule h1 {
    color: #405173;
}

#news article h2 {
    color: #402924;
}

#news article h3 {
    color: #8c6c6c;
}

/* SCHEDULE TAB + DAILY-SCHEDULE ASIDE */
.day h2 {
    color: #402924;
}

#daily-schedule h1 {
    color: #405173;
}

.row {
    color: #402924;
    font-weight: bolder;
    border: 4px dashed #402924;
    background-color: #8a9cbf;
}

@media (max-width: 426px) {
    .row {
        border: 3px dashed #402924;
    }
}

#swipe-left,
#swipe-right {
    background-color: #8a9cbf;
}

/* TEACHERS TAB */
.teacher-block {
    color: #402924;
    background: rgb(138, 156, 191);
    background: linear-gradient(90deg, rgba(138, 156, 191, 0.5049370089832808) 0%, rgba(138, 156, 191, 1) 50%, rgba(138, 156, 191, 0.5049370089832808) 100%);
}

.teacher-block .photo img {
    padding: 1px;
    background-color: #402924;
}

/* ACADEMY TAB */
.ui-accordion-header {
    color: black !important;
}

.ui-accordion-header-active {
    background-color: #405173 !important;
}

.ui-accordion-header-collapsed {
    background-color: #8a9cbf !important;
}

#academy-form {
    background-color: #8a9cbf;
}

input,
textarea,
select,
option {
    background: white !important;
    border-top: #402924 1px solid !important;
    border-left: #402924 1px solid !important;
    border-bottom: #402924 3px solid !important;
    border-right: #402924 3px solid !important;
    border-radius: 2px !important;
    color: black !important;
}

/* FOOTER */
footer {
    background-color: #4051738a;
}