body {
    background: url("../../assets/winter.jpg") fixed;
}

main {
    background: url("../../assets/winter_pattern.jpg");
    background-repeat: repeat;
}

#logo {
    background-color: #405173;
    color: white;
}

#menu ul {
    background-color: #8a9cbf;
}

#menu ul li a {
    color: black;
}

#menu ul li:hover {
    background-color: #405173;
}

#menu ul li a:hover {
    color: white;
}

#news h1,
#schedule h1 {
    color: #405173;
}

#news article h2 {
    color: #402924;
}

#news article h3 {
    color: #8c6c6c;
}

.day h2 {
    color: #402924;
}

#daily-schedule h1 {
    color: #405173;
}

.row {
    color: #402924;
    font-weight: bolder;
    border: 4px dashed #402924;
    background-color: #8a9cbf;
}

.teacher-block {
    color: #402924;
    background: rgb(138, 156, 191);
    background: linear-gradient(90deg, rgba(138, 156, 191, 0.5049370089832808) 0%, rgba(138, 156, 191, 1) 50%, rgba(138, 156, 191, 0.5049370089832808) 100%);
}

.teacher-block .photo img {
    padding: 1px;
    background-color: #402924;
}

@media (max-width: 426px) {
    .row {
        border: 3px dashed #402924;
    }
}

footer {
    background-color: #4051738a;
}